<!-- breadcrumbs -->
<ul class="breadcrumb">
  <li><a href="/">Início</a> <span class="divider">/</span></li>
  <li><a href=<%= state_url(@city.state.id) %>><%= @city.state.abbreviation %></a> <span class="divider">/</span></li>
  <li class="active"><%= @city.name %></li>
</ul>

<% if @city.has_districts? then %>

  <p>Distritos:</p>
  <ul>
  <% @city.districts.each do |district| %>
    <li>
      <a href=<%= district_url(district.id) %>>
        <%= district.name %>
      </a>
    </li>
  <% end %>
  </ul>
  
<% else %>
  Esta cidade não tem distritos cadastrados no IBGE.
<% end %>

<% if @city.has_bairros? then %>

  <p>Bairros:</p>
  <ul>
  <% @city.bairros.each do |bairros| %>
    <li>
      <a href=<%= bairro_url(bairros.id) %>>
        <%= bairros.name %>
      </a>
    </li>
  <% end %>
  </ul>
  
<% else %>
  Esta cidade não tem bairros cadastrados no IBGE.
<% end %>

